*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dlibro{
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-gap: 5px;
    padding-left: 20px ;
    padding-right: 20px ;
}


.dlibro div{
    display: grid;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}


.titulo-libro{
    text-align: center;
}